// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.my_info {
  margin: 30px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.fridge-outline .fridge-leg {
  position: absolute;
}
.fridge-outline {
    position: relative;
    z-index: 10;
    height: 550px;
    width: 360px;
    background-color: #f4f5fa;
    border: 7px solid darkslateblue;
    border-radius: 30px;
  }
.fridge-leg {
  bottom: -14px;
  width: 20px;
  height: 10px;
  background-color: darkslateblue;
  border-radius: 5px;
}
.left {
  left: 25%;
}
.right {
  right: 25%;
}
.fridge-outline table {
  padding: 10px;
  width: 100%;
  td {
    border-bottom: 2px solid grey;
    height: 30px;
  }

  td:first-child {
    width: 100%;
  }
}

.basic table {
  margin: 10px 0;
  border: 2px solid #666;
  padding: 10px;
  tr {
    padding: 10px;
  }
  td {
    height: 20px;
    padding: 10px;
  }
}
