<!DOCTYPE html>
<html>
  <head>
    <title>Fridge</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? then %>
    <div class="navbar">
      <h1> Witaj
      <%= current_user.email %>
    </h1>
    <%= button_to 'Wyloguj mnie!', destroy_user_session_path, method: :delete, data: { confirm: 'Na pewno chcesz się wylogować?' } %>
    <% end %>
    </div>
    <%= yield %>
  </body>
</html>
